<!-- 재고 > 재고조회(창고) -->

<div class="contents-header">
  <h2 class="content-block page-title">{{utilService.convert('/inv/invTagWh')}}</h2> <!-- 다국어 -->
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group"></span>
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [showColonAfterLabel]="false"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>

          <dxi-item dataField="itemId"
                    editorType="dxSelectBox" [colSpan]="2"
                    [label]="{text: utilService.convert1('inv_invTagWh_itemId', '품목')}"
                    [editorOptions]="{  items: dsFilteredItemId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      showClearButton: true,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }"></dxi-item>

          <dxi-item dataField="spec"
                    editorType="dxSelectBox" [colSpan]="2"
                    [label]="{text: utilService.convert1('pt_prod_prog_status.spec', '규격')}"
                    [editorOptions]="{  items: dsSpec,
                                      displayExpr: 'spec',
                                      valueExpr: 'spec',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      showClearButton: true,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }"></dxi-item>

          <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
          <dxi-item dataField="warehouseId"
                    editorType="dxSelectBox"
                    [disabled]="true" [colSpan]="2"
                    [label]="{text: utilService.convert1('inv_invTagWh_warehouseId', '창고')}"
                    [editorOptions]="{  items: dsWarehouseId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      showClearButton: true,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }">
          </dxi-item>
          <dxi-item dataField="ownerId"
                    [disabled]="true" [colSpan]="2"
                    editorType="dxSelectBox"
                    [label]="{text: utilService.convert1('inv_invTagWh_ownerId', '화주')}"
                    [editorOptions]="{  items: dsOwnerId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      showClearButton: true,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                   }"></dxi-item>
          <dxi-item dataField="itemAdminId"
                    [label]="{text: utilService.convert1('inv_invTagWh_itemAdminId', '품목관리사')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [disabled]="true"
                    [editorOptions]="{
                                      items: dsItemAdminId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      showClearButton: true,
                                      minSearchLength: 0
                                      }"></dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()"
        ></dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"></dx-button>

    </div>
  </div>

  <!--Grid-->
  <dx-accordion [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('inv_invTagWh_mainGridTitle', '재고조회(창고)')">
      <dx-data-grid #mainGrid
                    [dataSource]="mainDataSource"
                    [(selectedRowKeys)]="selectedRows"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [focusedRowEnabled]="true"
                    (onRowDblClick)="onPopupOpen($event)"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    (onFocusedCellChanged)="onFocusedCellChanging($event, this.mainGrid)"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [allowColumnReordering]="true"
                    (onCellPrepared)="onCellPrepared($event)"
                    (onExporting)="gridUtil.onPageExportXlsx($event)"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single" selectAllMode="allPages"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-search-panel [visible]="true"
                          [width]="200"
                          [placeholder]="''"
        ></dxo-search-panel>
        <dxo-paging [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom"
                           [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"></dxo-state-storing>

        <!-- Columns -->
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false" Width="50"></dxi-column>
        <!-- Entity의 Key 값 -->
        <dxi-column dataField="tenant" caption="태넌트" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="isRed" caption="isRed" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>


        <!--    <dxi-column dataField="number" caption="NO" ></dxi-column>-->
        <dxi-column name="No" caption="No" cellTemplate="NoTemplate" alignment="center" width="50"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="flag"
                    [caption]="utilService.convert1('안전', '안전')" alignment="center" width="70">
          <dxo-header-filter
            [dataSource]="trafficFilter"
          ></dxo-header-filter>
        </dxi-column>
        <dxi-column dataField="warehouse"
                    [caption]="utilService.convert1('inv_inOutTranHistory_warehouse', '창고')"
                    alignment="left"></dxi-column>
        <dxi-column dataField="warehouseName"
                    [caption]="utilService.convert1('inv_inOutTranHistory_warehouseName', '창고명')"
                    alignment="left"></dxi-column>
        <dxi-column dataField="owner"
                    [caption]="utilService.convert1('inv_inOutTranHistory_owner', '화주')"
                    alignment="left"></dxi-column>
        <dxi-column dataField="ownerName"
                    [caption]="utilService.convert1('inv_inOutTranHistory_ownerName', '화주명')"
                    alignment="left"></dxi-column>
        <dxi-column dataField="itemAdmin" [visible]="false"
                    [caption]="utilService.convert1('inv_inOutTranHistory_itemAdmin', '품목관리사')"
                    [allowSearch]="false" [allowEditing]="false"
        ></dxi-column>
        <dxi-column dataField="itemAdminName" [visible]="false" [allowSearch]="false" [allowEditing]="false"
                    [caption]="utilService.convert1('inv_inOutTranHistory_itemAdminName', '품목관리사명')"
        ></dxi-column>
        <dxi-column dataField="item" [caption]="utilService.convert1('inv_inOutTranHistory_item', '품목')"
                    [allowSearch]="false" [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="itemName"
                    [caption]="utilService.convert1('inv_inOutTranHistory_itemName', '품목명')"
                    [allowSearch]="false" [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="unit" [caption]="utilService.convert1('rcvDetail.unit3Stylecd', '단위')"
                    [allowEditing]="false" alignment="center">
          <dxo-lookup [dataSource]="dsUnitStyle" displayExpr="code" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="spec" [caption]="utilService.convert1('pt_prod_prog_status.spec', '규격')"
                    [allowEditing]="false"></dxi-column>

        <!--            <dxi-column dataField="totalItemCnt" [caption]="utilService.convert1('inv_inOutTranHistory_totalItemCnt', '총상품수')" format='#,##0.####' alignment="right"-->
        <!--                        ></dxi-column>-->
        <dxi-column dataField="totalQty1"
                    [caption]="utilService.convert1('inv_inOutTranHistory_totalQty1', '총수량')"
                    format='#,##0.####' alignment="right"
        ></dxi-column>
        <dxi-column dataField="totalInstructedQty1"
                    [caption]="utilService.convert1('inv_inOutTranHistory_totalInstructedQty1', '총예정입고수량')"
                    format='#,##0.####'
                    alignment="right"></dxi-column>
        <dxi-column dataField="totalAllocatedQty1"
                    [caption]="utilService.convert1('inv_inOutTranHistory_totalAllocatedQty1', '총할당수')"
                    format='#,##0.####'
                    alignment="right"></dxi-column>
        <dxi-column dataField="totalAbleQty1"
                    [caption]="utilService.convert1('inv_inOutTranHistory_totalAbleQty1', '가용총수량')"
                    format='#,##0.####' alignment="right"
        ></dxi-column>
        <dxi-column dataField="minQty"
                    [caption]="utilService.convert1('mm_whxitem_minQty', '안전재고수량')"
                    format='#,##0.####' alignment="right"
        ></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>

<!-- Grid popup-->
<dx-popup #popup
          [(title)]="popupMode"
          [dragEnabled]="true"
          [resizeEnabled]="true"
          [closeOnOutsideClick]="false"
          (onShowing)="popupShown()"
          (onHidden)="onPopupAfterClose()"
>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <dx-button type="normal"
               [text]="utilService.convert('com_btn_close')"
               (onClick)="onPopupClose()">
    </dx-button>
  </dxi-toolbar-item>

  <dxi-item itemType="group" [caption]="utilService.convert1('inv_inOutHistory_popup', '재고조회(창고) 상세')" [colCount]="4"
            [colSpan]="4">
    <dx-data-grid #popupGrid
                  [dataSource]="popupDataSource"
                  (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                  [showBorders]="true"
                  [repaintChangesOnly]="true"
                  [allowColumnResizing]="true"
                  [allowColumnReordering]="true"
                  [columnAutoWidth]="true"
                  [focusedRowEnabled]="true"
                  [rowAlternationEnabled]="true"
                  [showRowLines]="true"
                  [height]="600"
                  columnResizingMode=nextColumn
    >
      <dxo-editing mode="batch"></dxo-editing>
      <!--      <dxo-filter-row [visible]="true"></dxo-filter-row>-->
      <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
      <dxo-search-panel
        [visible]="true"
        [width]="240"
        [placeholder]="''"></dxo-search-panel>
      <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]=gridUtil.getAllowedPageSize()
        [showInfo]="true">
      </dxo-pager>
      <dxo-state-storing type="custom"
                         id="popState"
                         [enabled]="true"
                         [customLoad]="loadStatePopup"
                         [customSave]="saveStatePopup"
      ></dxo-state-storing>

      <!-- Columns -->
      <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                  [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
      <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                  [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
      <dxi-column name="No" caption="No" cellTemplate="NoTemplate" alignment="center" width="50"></dxi-column>
      <div *dxTemplate="let data of 'NoTemplate'">
        {{ data.rowIndex + 1}}
      </div>

      <dxi-column dataField="warehouse"
                  [caption]="utilService.convert1('inv_inOutTranHistory_warehouse', '창고')">
      </dxi-column>
      <dxi-column dataField="warehouseName"
                  [caption]="utilService.convert1('inv_inOutTranHistory_warehouseName', '창고명')">
      </dxi-column>
      <dxi-column dataField="owner"
                  [caption]="utilService.convert1('inv_inOutTranHistory_owner', '화주')">
      </dxi-column>
      <dxi-column dataField="ownerName"
                  [caption]="utilService.convert1('inv_inOutTranHistory_ownerName', '화주명')">
      </dxi-column>
      <dxi-column dataField="itemAdmin" [visible]="false" [allowSearch]="false"
                  [caption]="utilService.convert1('inv_inOutTranHistory_itemAdmin', '품목관리사')">
      </dxi-column>
      <dxi-column dataField="itemAdminName" [visible]="false" [allowSearch]="false"
                  [caption]="utilService.convert1('inv_inOutTranHistory_itemAdminName', '품목관리사명')">
      </dxi-column>
      <dxi-column dataField="item"
                  [caption]="utilService.convert1('inv_inOutTranHistory_item', '품목')">
      </dxi-column>
      <dxi-column dataField="itemName"
                  [caption]="utilService.convert1('inv_inOutTranHistory_itemName', '품목명')">
      </dxi-column>

      <dxi-column dataField="lotId" alignment="center"
                  [caption]="utilService.convert1('inv_ingTagWhLocation_lotId','로트키')"></dxi-column>

      <!--      <dxi-column dataField="txType" [caption]="utilService.convert1('inv_inOutHistory_locId','로케이션')"></dxi-column>-->
      <!--      <dxi-column dataField="key" [caption]="utilService.convert1('inv_inOutHistory_locId','로케이션')"></dxi-column>-->
      <!--      <dxi-column dataField="lineNo" [caption]="utilService.convert1('inv_inOutHistory_locId','로케이션')"></dxi-column>-->

      <dxi-column dataField="lot1" [caption]="utilService.convert('rcvDetail.lot1')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot2" [caption]="utilService.convert('rcvDetail.lot2')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot3" [caption]="utilService.convert('rcvDetail.lot3')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot4" [caption]="utilService.convert('rcvDetail.lot4')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot5" [caption]="utilService.convert('rcvDetail.lot5')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot6" [caption]="utilService.convert('rcvDetail.lot6')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot7" [caption]="utilService.convert('rcvDetail.lot7')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot8" [caption]="utilService.convert('rcvDetail.lot8')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot9" [caption]="utilService.convert('rcvDetail.lot9')" [visible]="false"></dxi-column>
      <dxi-column dataField="lot10" [caption]="utilService.convert('rcvDetail.lot10')" [visible]="false"></dxi-column>
      <dxi-column dataField="damageFlg"
                  [caption]="utilService.convert1('rcvDetail.damageFlg', '불량여부', 'Damage Flag')"
                  alignment="center">
        <dxo-lookup [dataSource]="dsDamageFlg" displayExpr="codeName" valueExpr="code"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="noShippingFlg"
                  [caption]="utilService.convert1('rcvDetail.noShippingFlg', '출하금지여부', 'No Shipping Flag')"
                  alignment="center" [visible]="false">
      </dxi-column>
      <dxi-column dataField="foreignCargoFlg"
                  [caption]="utilService.convert1('rcvDetail.foreignCargoFlg', '내수/외수구분', 'Foreign Cargo Flag')"
                  alignment="center" [visible]="false">
      </dxi-column>
      <dxi-column dataField="customsReleaseFlg"
                  [caption]="utilService.convert1('rcvDetail.customsReleaseFlg', '통관진행상태', 'Customs Release Flag')"
                  alignment="center" [visible]="false">
      </dxi-column>
      <dxi-column dataField="taxFlg" [caption]="utilService.convert1('rcvDetail.taxFlg', '과세/비과세여부', 'Tax Flag')"
                  alignment="center" [visible]="false">
      </dxi-column>
      <dxi-column dataField="whInDate" dataType="date" format="yyyy-MM-dd"
                  [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                  [caption]="utilService.convert1('rcvDetail.whInDate', '입고일자', 'In Date')"
                  alignment="center"></dxi-column>
      <dxi-column dataField="mngDate" dataType="date" format="yyyy-MM-dd"
                  [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                  [caption]="utilService.convert1('rcvDetail.mngDate', '관리일자', 'Manage Date')" alignment="center"
                  [visible]="false"></dxi-column>

      <dxi-column dataField="serial" [caption]="utilService.convert1('so_so_serial','시리얼')"></dxi-column>

      <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"
                  [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn>
        <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                  [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>
      <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"
                  [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn>
        <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                  [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>
    </dx-data-grid>
  </dxi-item>
</dx-popup>
