<!-- 영업 > 수금 > 입금현황 saco020 -->

<div class="contents-header">
  <!-- Header Title START -->
  <h2 class="content-block page-title">{{utilService.convert('/saco/saco020')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <!-- Header Title END -->
  <!-- 버튼 그룹 START (조회 버튼 제외 - 조회버튼은 조회영역에 삽입) -->
  <span class="btngroup page-button-group">
  </span>
  <!-- 버튼 그룹 END -->
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               (onEditorEnterKey)="onSearch()"
               [colCountByScreen]="{lg:6, md: 6, sm:3, xs:1}"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>

          <dxi-item itemType="group"
                    [label]="{text: utilService.convert('sales.depo_dt')}" [colSpan]="2">
            <dx-date-box #fromDepoDate
                         name="fromDepoDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toDepoDate
                         name="toDepoDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <dxi-item dataField="exptCd" [label]="{text: utilService.convert('sales.expt_cd')}"  editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: dsExptCd,
                                        displayExpr: 'display',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: false,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>

<!--          <dxi-item dataField="ordGb" [label]="{text: utilService.convert('sales.ord_gb')}"  editorType="dxSelectBox" [colSpan]="2"-->
<!--                    [editorOptions]="{  items: dsOrdGb,-->
<!--                                        displayExpr: 'nm',-->
<!--                                        valueExpr: 'cd',-->
<!--                                        searchMode:'contains',-->
<!--                                        searchEnabled: true,-->
<!--                                        showClearButton: true,-->
<!--                                        openOnFieldClick: false,-->
<!--                                        minSearchLength: 0,-->
<!--                                        placeholder: '',-->
<!--                                        noDataText: utilService.convert('com_txt_noDataText')-->
<!--                    }">-->
<!--          </dxi-item>-->

          <dxi-item dataField="depoGb" [label]="{text: utilService.convert('sales.depo_gb')}" editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: dsDepoGb,
                                        displayExpr: 'nm',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: false,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>

          <dxi-item dataField="monyUnit" [label]="{text: utilService.convert('sales.mony')}" editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{
                                        items: dsMonyUnit,
                                        displayExpr: 'display',
                                        valueExpr: 'code',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: false,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()"
        ></dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
  </div>

  <dx-accordion [collapsible]="true"
                [multiple]="false"
                [animationDuration]="300"
  >
    <dxi-item [title]="utilService.convert('sales.deposit_list')">
      <dx-data-grid
        #mainGrid
        [dataSource]="dsMainGrid"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.mainGrid)"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        [focusedRowEnabled]="true"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true"></dxo-export>

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"></dxo-state-storing>
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" cellTemplate="NoTemplate"
                    alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="depo_no" [caption]="utilService.convert('sales.depo_no')" alignment="center"></dxi-column>
        <dxi-column dataField="depo_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd" [caption]="utilService.convert('sales.depo_dt')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"></dxi-column>
        <dxi-column dataField="expt_cd" [caption]="utilService.convert('sales.expt_cd')" alignment="center"></dxi-column>
        <dxi-column dataField="expt_nm" [caption]="utilService.convert('sales.expt_nm')"></dxi-column>
<!--        <dxi-column dataField="ord_gb" [caption]="utilService.convert('sales.ord_gb')" alignment="center">-->
<!--          <dxo-lookup [dataSource]="dsOrdGb" displayExpr="nm" valueExpr="cd"></dxo-lookup>-->
<!--        </dxi-column>-->
        <dxi-column dataField="depo_gb" [caption]="utilService.convert('sales.depo_gb')" alignment="center">
          <dxo-lookup [dataSource]="dsDepoGb" displayExpr="nm" valueExpr="cd"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="mony_unit" [caption]="utilService.convert('sales.mony_unit')" alignment="center">
          <dxo-lookup [dataSource]="dsMonyUnit" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="depo_amt" [caption]="utilService.convert('sales.depo_amt')" format="#,##0.##"></dxi-column>
        <dxi-column dataField="std_rate" [caption]="utilService.convert('sales.std_rate')" format="#,##0.##"></dxi-column>
        <dxi-column dataField="krw_depo_amt" [caption]="utilService.convert('sales.krw_depo_amt')" format="#,##0.##"></dxi-column>
<!--        <dxi-column dataField="over_depo_amt" [caption]="utilService.convert('sales.over_depo_amt')" format="#,##0.##"></dxi-column>-->
        <dxi-column dataField="dishonor_yn" [caption]="utilService.convert('sales.bankruptcy')" alignment="center"></dxi-column>
        <dxi-column dataField="expi_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd" [caption]="utilService.convert('sales.expi_dt')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}">
        </dxi-column>
        <dxi-column dataField="remark" [caption]="utilService.convert('sales.remark')"></dxi-column>
        <dxi-column dataField="createdby" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createddatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="modifiedby" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifieddatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxo-summary>
          <dxi-total-item column="depo_amt" summaryType="sum" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item column="krw_depo_amt" summaryType="sum" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
<!--          <dxi-total-item column="over_depo_amt" summaryType="sum" displayFormat="{0}"-->
<!--                          valueFormat="#,##0.####"></dxi-total-item>-->
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>
