.dx-datagrid-total-footer {
  visibility: hidden !important;
}

.flex-container {
  display: flex !important;
  height: 90px;

}

.flex-container dx-button {
  margin-top: 2px !important;
  margin-right: 4px !important;
}
