<!-- 영업 > 반품확정취소 saor241 -->
<div class="contents-header">
  <!-- Header Title START -->
  <h2 class="content-block page-title">{{utilService.convert1('/saor/saor241', '반품확정취소')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
<!--     <dx-button icon="add"-->
<!--                id="acceptExecute"-->
<!--                type="default"-->
<!--                [text]="utilService.convert('/saor/saor241')"-->
<!--                (onClick)="returnCancel($event)"-->
<!--     ></dx-button>-->
  </span>
  <!-- Header Title END -->
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               (onEditorEnterKey)="onSearch()"
               [colCountByScreen]="{lg:6, md: 6, sm:3, xs:1}"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item itemType="group"
                    [label]="{text: utilService.convert('sales.chk_dt')}" [colSpan]="2">
            <dx-date-box #fromOrdDate
                         name="fromOrdDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toOrdDate
                         name="toOrdDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <dxi-item dataField="ptrnCd"
                    [label]="{text: utilService.convert1('sales.ptrn_cd', '파트너사', 'Partner')}" editorType="dxSelectBox"
                    [colSpan]="2"
                    [editorOptions]="{ items: dsPtrnCd,
                                   displayExpr: 'display',
                                   valueExpr: 'cd',
                                   searchMode:'contains',
                                   searchEnabled: true,
                                   showClearButton: true,
                                   openOnFieldClick: false,
                                   minSearchLength: 0,
                                   placeholder: '',
                                   noDataText: utilService.convert('com_txt_noDataText') }">
          </dxi-item>
          <dxi-item dataField="exptCd"
                    [label]="{text: utilService.convert1('sales.expt_cd', '수출사', 'Exporter')}" editorType="dxSelectBox"
                    [colSpan]="2"
                    [editorOptions]="{ items: dsExptCd,
                                   displayExpr: 'display',
                                   valueExpr: 'cd',
                                   searchMode:'contains',
                                   searchEnabled: true,
                                   showClearButton: true,
                                   openOnFieldClick: false,
                                   minSearchLength: 0,
                                   placeholder: '',
                                   noDataText: utilService.convert('com_txt_noDataText') }">
          </dxi-item>
          <dxi-item dataField="ordGb"
                    [label]="{text: utilService.convert1('sales.ord_gb', '주문구분', 'Order Class')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{ items: dsOrdGb,
                                   displayExpr: 'nm',
                                   valueExpr: 'cd',
                                   searchMode:'contains',
                                   searchEnabled: true,
                                   showClearButton: true,
                                   openOnFieldClick: false,
                                   minSearchLength: 0,
                                   placeholder: '',
                                   noDataText: utilService.convert('com_txt_noDataText') }">
          </dxi-item>

        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()">
        </dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   (onClick)="onSearch()">
        </dx-button>
      </div>
    </div>
  </div>

  <dx-accordion [collapsible]="true"
                [multiple]="false"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('sales.out_ord_list', '출고지시 리스트', 'Out Order List')">
      <dx-data-grid #mainGrid
                    [dataSource]="dataSource"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [focusedRowEnabled]="true"
                    (onRowDblClick)="rowDblClick($event)"
                    (onOptionChanged)="onOptionChanged($event)"
                    columnResizingMode=nextColumn>
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true"></dxo-export>

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

        <dxo-search-panel [visible]="true"
                          [width]="240"
                          [placeholder]="''">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showPageSizeSelector]="true"
                   [showInfo]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" cellTemplate="NoTemplate"
                    alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="sa_wh_cd" caption="sa_wh_cd" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>

        <dxi-column dataField="ord_no" [caption]="utilService.convert('sales.ord_no_c')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="ord_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd" [caption]="utilService.convert('sales.ord_dt_c')"
                    alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"></dxi-column>
        <dxi-column dataField="ord_gb" [caption]="utilService.convert1('sales.ord_gb', '주문구분', 'Order Class')"
                    [calculateCellValue]="ordGbNm" alignment="center"></dxi-column>
        <!-- <dxi-column dataField="expt_cd" [caption]="utilService.convert1('sales.expt_cd', '수출사', 'Exporter')"></dxi-column> -->
        <dxi-column dataField="out_ord_no"
                    [caption]="utilService.convert1('sales.out_ord_no', '출고지시번호', 'Out Order No')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="out_ord_dt"
                    dataType="date"
                    editorType="dxDateBox"
                    format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.out_ord_dt', '출고지시일자', 'Out Order Date')"
                    alignment="center"
                    [editorOptions]="{ useMaskBehavior:'true',
                                       displayFormat:'yyyy-MM-dd',
                                       dateSerializationFormat: 'yyyy-MM-dd' }">
        </dxi-column>
        <dxi-column dataField="expt_cd" [caption]="utilService.convert1('sales.expt_cd', '수출사', 'Exporter')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="expt_nm" [caption]="utilService.convert('sales.cust_cd')">
        </dxi-column>
        <dxi-column dataField="ptrn_cd" [caption]="utilService.convert1('sales.ptrn_cd', '파트너사', 'Partner')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="ptrn_nm" [caption]="utilService.convert('sales.ptrn_cd')">
        </dxi-column>
        <dxi-column dataField="sku_out" [caption]="utilService.convert1('sales.ord_sku', '주문SKU', 'Order SKU')"
                    format="#,##0"></dxi-column>
        <dxi-column dataField="out_ord_qty" [caption]="utilService.convert('sales.ord_qty_c')"
                    format="#,##0.####"></dxi-column>
        <dxi-column dataField="out_ord_amt" [caption]="utilService.convert('sales.rtn_amt')"
                    format="#,##0.####"></dxi-column>
        <dxi-column dataField="out_ord_vat_amt" [caption]="utilService.convert('sales.vat')"
                    format="#,##0.####"></dxi-column>
        <dxi-column dataField="mony_unit" name="monyUnit" [caption]="utilService.convert1('sales.mony', '화폐', 'Money')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsMonyUnit" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="std_rate"
                    [caption]="utilService.convert1('sales.std_rate', '기준환율', 'Base Exchange Rate')"
                    format="#,##0.##"></dxi-column>
        <dxi-column dataField="cont_no" [caption]="utilService.convert1('sales.cont_no', '계약번호', 'Contract No')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="dg_adr"
                    [caption]="utilService.convert1('sales.dg_adr', '납품주소', 'Delivery Address')"></dxi-column>ß
        <dxi-column dataField="impt_cd" [caption]="utilService.convert1('sales.impt_cd', '수입사', 'Importer')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="impt_nm"
                    [caption]="utilService.convert1('sales.impt_nm', '수입사명', 'Importer Name')"></dxi-column>
        <dxi-column dataField="rtn_ptrn_cd"
                    [caption]="utilService.convert1('sales.rtn_ptrn_cd', '회수파트너사', 'Return Partner')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="rtn_ptrn_nm"
                    [caption]="utilService.convert1('sales.rtn_ptrn_nm', '회수파트너사명', 'Return Partner Name')"></dxi-column>
        <dxi-column dataField="rent_st_dt"
                    dataType="date"
                    editorType="dxDateBox"
                    format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.rent_st_dt', '렌탈시작일자', 'Rental Start Date')"
                    alignment="center"
                    [editorOptions]="{ useMaskBehavior:'true',
                                       displayFormat:'yyyy-MM-dd',
                                       dateSerializationFormat: 'yyyy-MM-dd' }">
        </dxi-column>
        <dxi-column dataField="rent_end_dt"
                    dataType="date"
                    editorType="dxDateBox"
                    format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.rent_end_dt', '렌탈종료일자', 'Rental End Date')"
                    alignment="center"
                    [editorOptions]="{ useMaskBehavior:'true',
                                       displayFormat:'yyyy-MM-dd',
                                       dateSerializationFormat: 'yyyy-MM-dd' }">
        </dxi-column>
        <dxi-column dataField="rtn_adr"
                    [caption]="utilService.convert1('sales.rtn_adr', '회수주소', 'Return Address')"></dxi-column>
        <dxi-column dataField="sa_chg_nm"
                    [caption]="utilService.convert1('sales.sa_chg_nm', '영업담당자', 'Sales Person')"></dxi-column>
        <dxi-column dataField="remark" [caption]="utilService.convert1('sales.remark', '비고', 'Note')"></dxi-column>
        <dxi-column dataField="load_port" [caption]="utilService.convert1('sales.load_port', '선적항', 'Port Of Shipment')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsPort" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="load_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.load_dt', '선적일자', 'Shipment Date')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"></dxi-column>
        <dxi-column dataField="arvl_port" [caption]="utilService.convert1('sales.arvl_port', '도착항', 'Port Of Arrival')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsPort" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="arvl_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.arvl_dt', '도착일자', 'Arrival Date')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"></dxi-column>
        <dxi-column dataField="createdby" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createddatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="modifiedby" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifieddatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
<!--       a-->
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>


<!-- Grid popup-->
<dx-popup
  [(title)]="popupModeNm"
  [closeOnOutsideClick]="false"
  [dragEnabled]="true"
  [(visible)]="popupVisible"
  [height]="770"
  (onShown)="popupShown($event)"
>

  <dxi-toolbar-item
    #ordConfirmBtn
    widget="dxButton"
    location="after"
    toolbar="top"
    [options]="{
      text: utilService.convert('/saor/saor241'),
      type: 'normal',
      onClick: returnCancel
    }"></dxi-toolbar-item>

  <dxi-toolbar-item
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      text: utilService.convert('com_btn_close'),
      stylingMode: 'outlined',
      type: 'normal',
      onClick: popupCancelClick
    }"></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form #popupForm
             [(formData)]="popupFormData"
             labelLocation="left"
             [showColonAfterLabel]="true"
             [colCountByScreen]="{
                  lg:6, md: 6, sm:3, xs:3
               }"
    >
      <!-- Master -->
      <dxi-item itemType="group"
                [caption]="utilService.convert1('sales.rtn_inst_reg', '반품지시등록', 'Register Return Instructions')"
                [colCount]="6"
                [colSpan]="6">
        <!-- 1 Line -->
        <dxi-item dataField="out_ord_no" [colSpan]="2"
                  [label]="{text: utilService.convert1('sales.rtn_inst_no', '반품지시번호', 'Return Order Number')}"
                  [disabled]="true"></dxi-item>
        <dxi-item dataField="out_ord_dt" [colSpan]="2"
                  editorType="dxDateBox"
                  [label]="{text: utilService.convert('sales.rtn_inst_dt')}"
                  [editorOptions]="{useMaskBehavior:'true',
                                    displayFormat:'yyyy-MM-dd',
                                    dateSerializationFormat: 'yyyy-MM-dd'
                  }">
          <dxi-validation-rule type="required" message="필수 입력항목입니다."></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="expt_cd" [label]="{text: utilService.convert('sales.cust_cd')}" editorType="dxSelectBox"
                  [disabled]="true" [colSpan]="2"
                  [editorOptions]="{  items: dsExptCd,
                                      displayExpr: 'display',
                                      valueExpr: 'cd',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                  }">
        </dxi-item>
        <!--        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>-->
        <dxi-item dataField="ord_no" [label]="{text: utilService.convert1('sales.ord_no', '주문번호', 'Order No')}"
                  [colSpan]="2"
                  [disabled]="true"></dxi-item>
        <dxi-item dataField="ord_dt" [colSpan]="2"
                  editorType="dxDateBox"
                  [label]="{text: utilService.convert1('sales.ord_dt', '주문일자', 'Order Date')}" [disabled]="true"
                  [editorOptions]="{useMaskBehavior:'true',
                                    displayFormat:'yyyy-MM-dd',
                                    dateSerializationFormat: 'yyyy-MM-dd'
                  }">
        </dxi-item>
        <dxi-item dataField="ord_gb" [label]="{text: utilService.convert1('sales.ord_gb', '주문구분', 'Order Class')}"
                  editorType="dxSelectBox" [disabled]="true" [colSpan]="2"
                  [editorOptions]="{  items: dsOrdGb,
                                      displayExpr: 'nm',
                                      valueExpr: 'cd',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                  }">
        </dxi-item>
        <dxi-item dataField="ptrn_cd" [label]="{text: utilService.convert1('sales.ptrn_cd', '파트너사', 'Partner')}"
                  editorType="dxSelectBox" [disabled]="true" [colSpan]="2"
                  [editorOptions]="{  items: dsPtrnCd,
                                      displayExpr: 'display',
                                      valueExpr: 'cd',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                  }">
        </dxi-item>
        <dxi-item dataField="sa_wh_cd" [label]="{text: utilService.convert('sales.sales_wh_nm')}"
                  editorType="dxSelectBox" [colSpan]="2"  [disabled]="true"
                  [editorOptions]="{ items: dsSaWh
                                   , displayExpr: 'display'
                                   , valueExpr: 'cd'
                                   , searchMode:'contains'
                                   , searchEnabled: true
                                   , openOnFieldClick: false
                                   , minSearchLength: 0
                                   , placeholder: ''
                                   , noDataText: utilService.convert('com_txt_noDataText')
                                   , showClearButton: true
                                  }">
          <dxi-validation-rule type="required" message="필수 입력항목입니다."></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="wh_cd" [label]="{text: utilService.convert('sales.wh_cd')}" [colSpan]="2">
          <!--          <dxi-validation-rule type="required" message="필수 입력항목입니다."></dxi-validation-rule>-->
        </dxi-item>
        <dxi-item dataField="remark" [colSpan]="6" editorType="dxTextArea" [editorOptions]="{maxLength:100}"
                  [label]="{text: utilService.convert('com_text_remarks')}">
        </dxi-item>
      </dxi-item>
      <!--품목 리스트 그리드-->
      <dxi-item itemType="group"
                [caption]="utilService.convert1('sales.item_list', '품목 리스트', 'Item List')"
                [colCount]="6"
                [colSpan]="6">
        <dx-data-grid
          #popupGrid
          [dataSource]="dsItemGrid"
          (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [focusedRowEnabled]="true"
          [height]="320"
          columnResizingMode=nextColumn
        >
          <dxo-editing mode="batch"
                       [selectTextOnEditStart]="true"
                       [newRowPosition]="'last'"
          ></dxo-editing>
          <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            [placeholder]="''"></dxo-search-panel>
          <dxo-state-storing [enabled]="true" type="custom"></dxo-state-storing>
          <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
          <dxi-column name="No" [caption]="utilService.convert('com_text_no')"
                      cellTemplate="NoTemplate" alignment="center"></dxi-column>
          <div *dxTemplate="let data of 'NoTemplate'">
            {{ data.rowIndex + 1}}
          </div>
          <dxi-column dataField="item_cd"
                      [caption]="utilService.convert1('sales.item', '품목', 'Item')"
                      [allowEditing]="false">
            <dxo-lookup [dataSource]="dsItemCd" displayExpr="cd" valueExpr="cd"></dxo-lookup>
          </dxi-column>
          <dxi-column dataField="item_nm"
                      [caption]="utilService.convert('sales.item_nm')"
                      [allowEditing]="false">
          </dxi-column>
          <dxi-column dataField="ord_qty"
                      [caption]="utilService.convert('sales.ord_qty_c')"
                      [allowEditing]="false"
                      dataType="number" format="#,##0.####"
                      [editorOptions]="{format:'#,##0.####', step:0}">
          </dxi-column>
          <dxi-column dataField="ord_pr"
                      [caption]="utilService.convert1('sales.pr', '단가', 'Price')"
                      [allowEditing]="false"
                      dataType="number" format="#,##0.####"
                      [editorOptions]="{format:'#,##0.####', step:0}">
          </dxi-column>
          <dxi-column dataField="ord_amt"
                      [caption]="utilService.convert1('sales.amt', '금액', 'Amt')"
                      [allowEditing]="false"
                      format="#,##0.####"
          ></dxi-column>
          <dxi-column dataField="ord_vat_amt"
                      [caption]="utilService.convert('sales.vat')"
                      [allowEditing]="false"
                      format="#,##0.####"
          ></dxi-column>

        </dx-data-grid>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>
