<!-- 영업 > 매입마감 관리자 sacl031 -->

<div class="contents-header">
  <!-- Header Title START -->
  <h2 class="content-block page-title">{{utilService.convert('/sacl/sacl031')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <!-- Header Title END -->
  <!-- 버튼 그룹 START (조회 버튼 제외 - 조회버튼은 조회영역에 삽입) -->
  <span class="btngroup page-button-group">
    <!-- 매입마감  -->
    <dx-button icon="check" id="Save" type="default" [text]="utilService.convert1('sales.pur_close', '매입마감', 'Purchase Close')"
               (onClick)="onClsPur()"></dx-button>
    <!-- ...추가 버튼들 -->
  </span>
  <!-- 버튼 그룹 END -->
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [height]="63"
               (onEditorEnterKey)="onSearch()"
               [colCountByScreen]="{lg:6, md: 6, sm:3, xs:3}"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>

          <dxi-item itemType="group"
                    [label]="{text: utilService.convert1('sales.cls_mon', '마감년월', 'Closing Date')}"
                    [colSpan]="2">
            <dx-date-box name="clsYM"
                         pickerType="calendar"
                         displayFormat="yyyy-MM"
                         dateSerializationFormat="yyyy-MM"
                         [value]="now"
                         [calendarOptions]="{useMaskBehavior:'true', zoomLevel: 'year',  maxZoomLevel: 'year'}">
              <dx-validator>
                <dxi-validation-rule type="required" [message]="utilService.convert('com_valid_required', utilService.convert('sales.cls_mon'))"></dxi-validation-rule>
              </dx-validator>
            </dx-date-box>
          </dxi-item>

          <dxi-item dataField="purCd" [label]="{text: utilService.convert1('sales.cust_cd', '거래처', 'Account')}"  editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: dsCustCd,
                                        displayExpr: 'display',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: false,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>

          <dxi-item dataField="clsYn" [label]="{text: utilService.convert('sales.cls_yn')}" editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{
                                        items: dsClsYn,
                                        displayExpr: 'nm',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: false,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()"
        ></dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
    <!--
    <div class="foldable-btn">
      <dx-button #foldableBtn icon="chevronup" type="default"
                 (onClick)="utilService.onFoldable(this.mainForm)"></dx-button>
    </div>
    -->
  </div>

  <dx-accordion #acrdn
                [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300"
  >
    <dxi-item [title]="utilService.convert1('sales.pur_list', '매입 리스트', 'Purchase List')">
      <span class="btngroup page-button-group" style="display: flex; justify-content: right">
          <!-- 저장버튼  -->
          <dx-button icon="save"
                     type="default"
                     [text]="utilService.convert1('sales.invoice_save', '계산서정보 저장', 'Invoice Save')"
                     style="margin-bottom: 0.5%;"
                     (onClick)="onInvoiceSave()">
          </dx-button>
          <dx-button icon="save"
                     type="default"
                     [text]="utilService.convert1('sales.add_price', '부대비용', '부대비용') + ' ' + utilService.convert1('com_btn_save', '저장')"
                     style="margin-bottom: 0.5%;"
                     (onClick)="onPurAddSave()">
          </dx-button>
      </span>
      <dx-data-grid
        #mainGrid1
        [dataSource]="mainGrid1DataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.mainGrid1)"
        [(selectedRowKeys)]="selectedRows"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        (onEditorPreparing)="onEditorPreparing($event)"
        [columnAutoWidth]="true"
        [allowColumnResizing]="true"
        [focusedRowEnabled]="true"
        (onFocusedRowChanged)="onFocusedRowChanged($event)"
        [height]="268"
        columnResizingMode=nextColumn
        (onSelectionChanged)="onSelectionChanged($event)"
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="true"
                     [(changes)]="changes"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateMain1"
                           [customSave]="saveStateMain1"></dxo-state-storing>
        <dxo-selection mode="multiple" selectAllMode="page"></dxo-selection>
        <dxi-column type="selection" [width]="45"></dxi-column>
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" cellTemplate="NoTemplate"
                    alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="cls_mon" [caption]="utilService.convert1('sales.cls_mon', '마감년월', 'Closing Date')" [visible]="false" [allowEditing]="false" [showInColumnChooser]="false"></dxi-column>
        <dxi-column dataField="vcls_mon" [caption]="utilService.convert1('sales.cls_mon', '마감년월', 'Closing Date')" alignment="center" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="pur_cd" [caption]="utilService.convert1('sales.cust_cd', '거래처', 'Account')" alignment="center" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="pur_nm" [caption]="utilService.convert1('sales.cust_nm', '거래처명', 'Account Name')" [allowEditing]="false">
          <!--<dxo-lookup [dataSource]="dsExptCd" displayExpr="nm" valueExpr="cd"></dxo-lookup>-->
        </dxi-column>
        <dxi-column dataField="pur_no" [caption]="utilService.convert1('sales.pur_no', '매입번호', 'Purchase No')" alignment="center" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ord_no" [caption]="utilService.convert1('sales.order_no', '발주번호', 'Order No')" alignment="center" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="ord_gb" [caption]="utilService.convert1('sales.pur_ord_gb', '발주구분', 'Purchase Order Class')"  alignment="center" [allowEditing]="false">
          <dxo-lookup [dataSource]=dsOrdGb displayExpr="nm" valueExpr="cd"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="inp_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd" [caption]="utilService.convert('sales.inp_dt')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="inp_no" [caption]="utilService.convert1('sales.inp_no', '입고번호', 'Incoming No')" alignment="center" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="pur_cls_yn" dataType="boolean" [caption]="utilService.convert('sales.close_off')"  headerCellTemplate="headerTemplate" [allowSorting]="false" [setCellValue]="setPurClsYn">
        </dxi-column>
        <dxi-column dataField="pur_cls_yn_dp" [caption]="utilService.convert('sales.cls_yn')" alignment="center" [allowEditing]="false">
          <dxo-lookup [dataSource]="dsClsYn" displayExpr="nm" valueExpr="cd"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="invoice_yn" [caption]="utilService.convert1('sales.invoice_yn', '계산서발행여부', 'Invoice Issue YN')" alignment="center"
                    [editorOptions]="{ disabled: false}">
          <dxo-lookup [dataSource]="dsActFlg" displayExpr="codeName" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="wrk_dt" dataType="date" format="yyyy-MM-dd"
                    [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd', disabled: false}"
                    [caption]="utilService.convert1('sales.invoice_dt', '계산서발행일자', 'Date of invoice issue')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="pur_amt"  [caption]="utilService.convert1('sales.pur_amt', '매입금액', 'Purchase Amt')" format="#,##0.####" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="pur_vat_amt"  [caption]="utilService.convert1('sales.vat', '부가세', 'VAT')" format="#,##0.####" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tot_pur_amt" [caption]="utilService.convert1('sales.sum', '합계', 'Sum')" format="#,##0.####" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="add_price1" [caption]="utilService.convert1('sales.add_price1', '부대비용1', '부대비용1')" dataType="number" format="#,##0.####"
                    [editorOptions]="{ disabled: false, format:'#,##0.####', step:0}"></dxi-column>
        <dxi-column dataField="add_price2" [caption]="utilService.convert1('sales.add_price2', '부대비용2', '부대비용2')" dataType="number" format="#,##0.####"
                    [editorOptions]="{ disabled: false, format:'#,##0.####', step:0}"></dxi-column>
        <dxi-column dataField="add_price3" [caption]="utilService.convert1('sales.add_price3', '부대비용3', '부대비용3')" dataType="number" format="#,##0.####"
                    [editorOptions]="{ disabled: false, format:'#,##0.####', step:0}"></dxi-column>
        <dxi-column dataField="add_price4" [caption]="utilService.convert1('sales.add_price4', '부대비용4', '부대비용4')" dataType="number" format="#,##0.####"
                    [editorOptions]="{ disabled: false, format:'#,##0.####', step:0}"></dxi-column>
        <dxi-column dataField="add_price5" [caption]="utilService.convert1('sales.add_price5', '부대비용5', '부대비용5')" dataType="number" format="#,##0.####"
                    [editorOptions]="{ disabled: false, format:'#,##0.####', step:0}"></dxi-column>

        <dxi-column dataField="createdby" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createddatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="modifiedby" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifieddatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxo-summary>
          <dxi-total-item column="pur_amt"  summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item column="pur_vat_amt"     summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item column="tot_pur_amt" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
        </dxo-summary>

        <div *dxTemplate="let item of 'headerTemplate'">
          <dx-check-box id="autoExpand" [text]="utilService.convert1('sales.close_off', '마감/해제', 'Close/Off')"
                        [elementAttr]="{ 'style': 'font-weight: bold' }"
                        (onValueChanged)="selectAll($event)"
          >
          </dx-check-box>
        </div>

      </dx-data-grid>
    </dxi-item>

    <dxi-item [title]="utilService.convert1('sales.dtl_list', '상세 리스트', 'Detail List')">
      <span class="btngroup page-button-group" style="display: flex; justify-content: right">
          <!-- 저장버튼  -->
          <dx-button icon="save"
                     type="default"
                     [text]="utilService.convert1('com_btn_save', '저장')"
                     style="margin-bottom: 0.5%;"
                     (onClick)="onSave()">
          </dx-button>
      </span>
      <dx-data-grid #mainGrid2
                    [dataSource]="mainGrid2DataSource"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [focusedRowEnabled]="true"
                    [rowAlternationEnabled]="true"
                    [showRowLines]="true"
                    [allowColumnReordering]="true"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="allowEditing"
                     [(changes)]="subChanges"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-search-panel [visible]="true"
                          [width]="240"
                          [placeholder]="''">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showPageSizeSelector]="true"
                   [showInfo]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-state-storing [enabled]="true"
                           type="custom"
                           [customLoad]="loadStateMain2"
                           [customSave]="saveStateMain2">
        </dxo-state-storing>

        <!-- Columns -->
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" cellTemplate="NoTemplate"
                    alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="item_cd"
                    [caption]="utilService.convert('sales.item')"
                    [allowEditing]="false"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="item_nm"
                    [caption]="utilService.convert('sales.item_nm')"
                    [allowEditing]="false">
        </dxi-column>
        <dxi-column dataField="spec_nm"
                    [caption]="utilService.convert('sales.spec_nm')"
                    [allowEditing]="false"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="sto_unit"
                    [caption]="utilService.convert('sales.unit')"
                    [allowEditing]="false">
          <dxo-lookup [dataSource]="dsUnit" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="inp_pr"
                    [caption]="utilService.convert1('sales.pr', '단가', 'Price')"
                    cssClass="grid-cell-required"
                    dataType="number" format="#,##0.####"
                    [editorOptions]="{format:'#,##0.####', step:0}">
        </dxi-column>
        <dxi-column dataField="inp_qty"
                    [caption]="utilService.convert1('sales.qty', '수량', 'Qty')"
                    [allowEditing]="false"
                    dataType="number" format="#,##0.####"
                    [editorOptions]="{format:'#,##0.####', step:0}">
        </dxi-column>
        <dxi-column dataField="inp_amt"
                    [caption]="utilService.convert1('sales.amt', '금액', 'Amt')"
                    cssClass="grid-cell-required"
                    [setCellValue]="setInpAmt"
                    dataType="number" format="#,##0.####"
                    [editorOptions]="{format:'#,##0.####', step:0}">
        </dxi-column>
        <dxi-column dataField="vat_rate" [width]="200"
                    [caption]="utilService.convert1('sales.vatRate', '부가세율', 'VAT Rate')"
                    [allowEditing]="false"
                    format="#,##0.####%">
        </dxi-column>
        <dxi-column dataField="inp_vat_amt"
                    [caption]="utilService.convert1('sales.vat', '부가세', 'VAT')"
                    cssClass="grid-cell-required"
                    dataType="number"
                    format="#,##0.####">
        </dxi-column>
        <dxi-column dataField="createdby" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createddatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="modifiedby" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifieddatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxo-summary [recalculateWhileEditing]="true">
          <dxi-total-item column="inp_qty" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item column="inp_amt" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item column="inp_vat_amt" summaryType="sum" displayFormat="{0}" valueFormat="#,##0.####"></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>

  </dx-accordion>
</div>


