<!-- 공통 > 리포터관리 -->

<div class="contents-header">
  <h2
    class="content-block page-title">{{utilService.convert1('reportmng', '리포트관리')}}</h2>
  <!-- 다국어 -->
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
     <!-- 신규버튼  -->
    <dx-button icon="add" id="Open" type="default" [text]="utilService.convert('com_btn_new')"
               (onClick)="onNew($event)"></dx-button>
  </span>
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [showColonAfterLabel]="false"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>

          <dxi-item dataField="reportKey" [colSpan]="2"
                    [label]="{text: utilService.convert1('reportmng_reportId', '리포트ID', 'Report Id')}"
          ></dxi-item>
          <dxi-item dataField="reportName" [colSpan]="2"
                    [label]="{text: utilService.convert1('reportmng_reportNm', '리포트명', 'Report Name')}"
          ></dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <!--        <dx-button icon="check"-->
        <!--                   type="default"-->
        <!--                   [text]="utilService.convert1('com_btn_reset', '초기화', 'Reset')"-->
        <!--                   class="reset-btn"-->
        <!--                   (onClick)="onReset()"-->
        <!--        ></dx-button>-->
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>

    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"></dx-button>
    </div>
  </div>

  <!--Grid-->
  <dx-accordion [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('repotmng_mainGrid', '리포트 리스트')">
      <dx-data-grid #mainGrid
                    [dataSource]="mainDataSource"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    (onRowDblClick)="rowDblClick($event)"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [focusedRowEnabled]="true"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [allowColumnReordering]="true"
                    (onExporting)="gridUtil.onPageExportXlsx($event)"
                    columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>  <!-- 조회 시 조회 패널 표시 여부 -->
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>   <!-- 컬럼 숨김, 보이기 하는 패널 표시 -->
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>  <!-- Excel Export 기능 유무 -->
        <dxo-search-panel
          [visible]="true"
          [width]="200"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true"
                           type="custom"
                           [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"
        ></dxo-state-storing>

        <!-- Columns -->
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <!-- Entity의 Key 값 -->
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>

        <!--    <dxi-column dataField="number" caption="NO" ></dxi-column>-->
        <dxi-column name="No" caption="No" cellTemplate="NoTemplate" alignment="center" width="50"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="reportKey"
                    [caption]="utilService.convert('reportmng_reportId')"
                    alignment="left">
        </dxi-column>
        <dxi-column dataField="reportName"
                    [caption]="utilService.convert('reportmng_reportNm')"
                    alignment="left">
        </dxi-column>
        <dxi-column dataField="url"
                    [caption]="utilService.convert1('reportmng_reportUrl', 'URL')"
                    alignment="left">
        </dxi-column>
        <dxi-column dataField="category"
                    [caption]="utilService.convert('reportmng_category')"
                    alignment="left" [visible]="false">
          <dxo-lookup [dataSource]=dsCategory displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>

        <dxi-column dataField="actFlg" [visible]="false"
                    [caption]="utilService.convert1('inv_phyconfirmed_actFlg', '사용여부')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsYN" displayExpr="codeName" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="remarks" [caption]="utilService.convert1('mm_warehouse_remarks', '비고')"></dxi-column>

        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn
                    alignment="center"></dxi-column>
        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn
                    alignment="center"></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>


<!-- Grid popup-->
<dx-popup
  #popup
  [(title)]="popupMode"
  [closeOnOutsideClick]="false"
  [dragEnabled]="true"
  [resizeEnabled]="true"
  [(visible)]="popupVisible"
  (onShown)="popupShown($event)"
>
  <dxi-toolbar-item widget="dxButton"
                    location="after"
                    toolbar="top"
                    [visible]="false">
  </dxi-toolbar-item>

  <dxi-toolbar-item
    #deleteBtn
    widget="dxButton"
    location="before"
    toolbar="bottom"
    [options]="{
      text: utilService.convert('com_btn_del'),
      stylingMode: 'Contained',
      type: 'danger',
      onClick: onPopupDelete
    }"></dxi-toolbar-item>
  <dxi-toolbar-item
    #saveBtn
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      text: utilService.convert('com_btn_save'),
      type: 'success',
      onClick: onPopupSave
    }"></dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    location="after"
    toolbar="bottom"
    [options]="{
      text: utilService.convert('com_btn_close'),
      stylingMode: 'outlined',
      type: 'normal',
      onClick: popupCancelClick
    }"></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form #popupForm
             [(formData)]="popupData"
             labelLocation="left"
             [showColonAfterLabel]="true"
             [colCountByScreen]="{
                    lg:3, md: 3, sm:3, xs:3
               }"
    >
      <!-- Master -->
      <dxi-item itemType="group"
                [caption]="this.utilService.convert('reportmng_save')"
                [colCount]="3"
                [colSpan]="3">
        <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                  [editorOptions]="{ value: G_TENANT }"></dxi-item>
        <dxi-item dataField="reportKey"
                  [label]="{text: utilService.convert1('reportmng_reportId', '리포트ID', 'Report Id')}">
          <dxi-validation-rule type="required"
                               [message]="utilService.convert('com_valid_required', utilService.convert('com_code_actFlg'))"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="reportName"
                  [label]="{text: utilService.convert1('reportmng_reportNm', '리포트명', 'Report Name')}">
          <dxi-validation-rule type="required"
                               [message]="utilService.convert('com_valid_required', utilService.convert('com_code_actFlg'))"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="actFlg" [label]="{text: utilService.convert1('com_code_actFlg', '사용여부')}"
                  editorType="dxSelectBox"
                  [editorOptions]="{  items: dsYN,
                                      displayExpr: 'codeName',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                  }">
          <dxi-validation-rule type="required"
                               [message]="utilService.convert('com_valid_required', utilService.convert('com_code_actFlg'))"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="url" [label]="{text: utilService.convert1('reportmng_url', 'URL')}"
                  [colSpan]="2">
          <dxi-validation-rule type="required"
                               [message]="utilService.convert('com_valid_required', utilService.convert('com_code_actFlg'))"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="category" [label]="{text: utilService.convert1('reportmng_category', '사용화면')}"
                  editorType="dxSelectBox"
                  [editorOptions]="{  items: dsCategory,
                                      displayExpr: 'codeName',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                  }">
          <dxi-validation-rule type="required"
                               [message]="utilService.convert('com_valid_required', utilService.convert('com_code_actFlg'))"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="remarks" [label]="{text: utilService.convert1('mm_allocpriority_remarks', '비고')}"
                  [colSpan]="3">
        </dxi-item>
      </dxi-item>


      <dxi-item itemType="group"
                [caption]="utilService.convert1('reportmng_popupgrid', '리포트 상세')"
                [colCount]="3"
                [colSpan]="3">
        <dx-data-grid
          #popupGrid
          [dataSource]="popupDataSource"
          (onToolbarPreparing)="gridUtil.onToolbarPreparingWithComBtn($event, this, this.addClick, this.deleteClick)"
          (onFocusedCellChanged)="onFocusedCellChanging($event, this.popupGrid)"
          [showRowLines]="true"
          [(selectedRowKeys)]="selectedRows"
          [rowAlternationEnabled]="true"
          [allowColumnReordering]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [focusedRowEnabled]="true"
          (onExporting)="gridUtil.onPageExportXlsx($event)"
          columnResizingMode=nextColumn
        >
          <dxo-editing mode="batch"
                       [(changes)]="changes"
                       [allowUpdating]="true"
                       [selectTextOnEditStart]="true"
                       [newRowPosition]="'last'"
          ></dxo-editing>
          <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            [placeholder]="''"></dxo-search-panel>
          <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]=gridUtil.getAllowedPageSize()
            [displayMode]="'full'"
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStatePopup"
                             [customSave]="saveStatePopup"></dxo-state-storing>
          <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
          <dxi-column name="No" [caption]="utilService.convert('com_text_no')"
                      cellTemplate="NoTemplate" alignment="center" width="50"></dxi-column>
          <div *dxTemplate="let data of 'NoTemplate'">
            {{ data.rowIndex + 1}}
          </div>

          <!--          <dxi-column dataField="reportId"-->
          <!--                      [caption]="utilService.convert1('reportmng_reportId', 'reportId')">-->
          <!--          </dxi-column>-->
          <dxi-column dataField="dataSet"
                      [caption]="utilService.convert1('ptprodrq_dataSet', 'dataSet')">
          </dxi-column>
          <dxi-column dataField="node"
                      [caption]="utilService.convert1('ptprodrq_node', 'node')">
          </dxi-column>
          <dxi-column dataField="path"
                      [caption]="utilService.convert1('ptprodrq_path', 'path')">
          </dxi-column>
          <dxi-column dataField="apiParam"
                      [caption]="utilService.convert1('ptprodrq_apiParam', 'apiParam')">
          </dxi-column>

        </dx-data-grid>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>
