<!-- 입고 > 인터페이스모니터링(재전송) -->

<div class="contents-header">
  <h2 class="content-block page-title">{{utilService.convert1('/mm/infmonitoring', '인터페이스모니터링(재전송)')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
    <dx-button icon="check"
               type="default"
               [text]="utilService.convert1('infmonitoring_button','재전송')"
               (onClick)="onReTransmission($event)"
    ></dx-button>
  </span>
</div>

<!-- TAB1-->
<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>
          <!--          <dxi-item dataField="apiType" [label]="{text: utilService.convert1('infmonitoring_apitype', 'api유형')}"-->
          <!--                    [colSpan]="2"-->
          <!--                    editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{-->
          <!--                          items: dsApiType,-->
          <!--                          displayExpr: 'code',-->
          <!--                          valueExpr: 'code',-->
          <!--                          searchMode:'contains',-->
          <!--                          searchEnabled: true,-->
          <!--                          showClearButton: true,-->
          <!--                          openOnFieldClick: false,-->
          <!--                          minSearchLength: 0,-->
          <!--                          placeholder: '',-->
          <!--                          noDataText: utilService.convert('com_txt_noDataText')-->
          <!--            }"></dxi-item>-->

          <dxi-item itemType="group"
                    [label]="{text: utilService.convert1('infmonitoring_logDateTime', '로그생성일시')}"
                    [colSpan]="2">
            <dx-date-box #fromLogDateTime
                         name="fromLogDateTime"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toLogDateTime
                         name="toLogDateTime"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <!--          <dxi-item itemType="group"-->
          <!--                    [label]="{text: utilService.convert1('infmonitoring_resDateTime', '응답일시')}" [colSpan]="2">-->
          <!--            <dx-date-box #fromResDateTime-->
          <!--                         name="fromResDateTime"-->
          <!--                         type="date"-->
          <!--                         pickerType="calendar"-->
          <!--                         displayFormat="yyyy-MM-dd"-->
          <!--                         dateSerializationFormat="yyyy-MM-dd"-->
          <!--                         [calendarOptions]="{useMaskBehavior:'true'}"-->
          <!--                         width="45%"-->
          <!--                         [elementAttr]="{ style: 'float:left' }"-->
          <!--            >-->
          <!--            </dx-date-box>-->
          <!--            <div style="float:left;margin:5px">~</div>-->
          <!--            <dx-date-box #toResDateTime-->
          <!--                         name="toResDateTime"-->
          <!--                         type="date"-->
          <!--                         pickerType="calendar"-->
          <!--                         displayFormat="yyyy-MM-dd"-->
          <!--                         dateSerializationFormat="yyyy-MM-dd"-->
          <!--                         [calendarOptions]="{useMaskBehavior:'true'}"-->
          <!--                         width="45%"-->
          <!--                         [elementAttr]="{ style: 'float:left' }"-->
          <!--            >-->
          <!--            </dx-date-box>-->
          <!--          </dxi-item>-->

          <dxi-item dataField="systemType" [label]="{text: utilService.convert1('infmonitoring_systemType', '시스템타입')}"
                    editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{
                                      items: dsSystemType,
                                      displayExpr: 'codeName',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <!--          <dxi-item dataField="successYN"-->
          <!--                    [label]="{text: utilService.convert1('rcv.infmonitoring_successYN', '성공여부')}"-->
          <!--                    editorType="dxSelectBox" [colSpan]="2"-->
          <!--                    [editorOptions]="{-->
          <!--                                      items: dsYN,-->
          <!--                                      displayExpr: 'codeName',-->
          <!--                                      valueExpr: 'code',-->
          <!--                                      searchMode:'contains',-->
          <!--                                      searchEnabled: true,-->
          <!--                                      showClearButton: true,-->
          <!--                                      openOnFieldClick: false,-->
          <!--                                      minSearchLength: 0,-->
          <!--                                      placeholder: '',-->
          <!--                                      noDataText: utilService.convert('com_txt_noDataText')-->
          <!--                                      }"></dxi-item>-->
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <!--        <dx-button icon="check"-->
        <!--                   type="default"-->
        <!--                   [text]="utilService.convert('com_btn_reset')"-->
        <!--                   class="reset-btn"-->
        <!--                   (onClick)="onReset()"-->
        <!--        ></dx-button>-->
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"></dx-button>
    </div>
  </div>

  <!--Grid-->
  <dx-accordion #acrdn
                [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('infmonitoring_maingrid', '인터페이스 전송리스트')">
      <dx-data-grid
        #mainGrid
        [dataSource]="mainDataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [focusedRowEnabled]="true"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.mainGrid)"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        (onCellClick)="onSelectionClick($event)"
        [height]="256"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="false"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-selection mode="single" selectAllMode="allPages"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getMainGridPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getMainGridAllowedSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"></dxo-state-storing>
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column name="No" caption="No" cellTemplate="NoTemplate" alignment="center" width="50"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="apiType" [caption]="utilService.convert('infmonitoring_apitype')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="apiTypeName" [caption]="utilService.convert('infmonitoring_apitype')"
                    alignment="center"></dxi-column>

        <dxi-column dataField="systemType" [caption]="utilService.convert1('infmonitoring_systemType', '시스템타입')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="systemTypeName" [caption]="utilService.convert1('infmonitoring_systemType', '시스템타입')"
                    alignment="center">
        </dxi-column>

        <dxi-column dataField="totalNo" [caption]="utilService.convert1('infmonitoring_totalNo', '전체건수')"
                    [allowEditing]="false" format="#,##0.####"></dxi-column>
        <dxi-column dataField="noOfSuccesses" [caption]="utilService.convert1('infmonitoring_noOfSuccesses', '성공건수')"
                    [allowEditing]="false" format="#,##0.####"></dxi-column>
        <dxi-column dataField="noOfFailures" [caption]="utilService.convert1('infmonitoring_NoOfFailures', '실패건수')"
                    [allowEditing]="false" format="#,##0.####"></dxi-column>


        <!--        <dxi-column dataField=""></dxi-column>-->
        <!--        <dxi-column dataField="logDateTime"-->
        <!--                    [caption]="utilService.convert('infmonitoring_logDateTime')"-->
        <!--                    alignment="center"></dxi-column>-->
        <!--        <dxi-column dataField="requestData" [caption]="utilService.convert1('infmonitoring_requestData', '요청데이터')"-->
        <!--                    alignment="center"></dxi-column>-->

        <!--        <dxi-column dataField="resDateTime"-->
        <!--                    [caption]="utilService.convert('infmonitoring_resDateTime')"-->
        <!--                    alignment="center"></dxi-column>-->
        <!--        <dxi-column dataField="responseData"-->
        <!--                    [caption]="utilService.convert1('infmonitoring_responseData', '응답데이터')">-->
        <!--        </dxi-column>-->
        <!--        <dxi-column dataField="successYN" [caption]="utilService.convert1('infmonitoring_successYN', '성공여부')"-->
        <!--                    alignment="center">-->
        <!--        </dxi-column>-->

        <!--        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"-->
        <!--                    [allowEditing]="false"-->
        <!--                    alignment="left" [visible]=this.utilService.isShowVisibleColumn>-->
        <!--          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
        <!--        </dxi-column>-->
        <!--        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"-->
        <!--                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>-->
        <!--        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"-->
        <!--                    [allowEditing]="false" alignment="left" [visible]=this.utilService.isShowVisibleColumn>-->
        <!--          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
        <!--        </dxi-column>-->
        <!--        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"-->
        <!--                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>-->
      </dx-data-grid>
    </dxi-item>

    <dxi-item [title]="utilService.convert1('infmonitoring_subgrid', '인터페이스 전송 상세')">
      <dx-data-grid
        #subGrid
        [dataSource]="subDataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [focusedRowEnabled]="true"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.subGrid)"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        [(selectedRowKeys)]="selectedRows"
        (onExporting)="gridUtil.onPageExportXlsx($event)"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="false"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
        <!--        <dxo-selection mode="multiple"-->
        <!--                       selectAllMode="allPages"-->
        <!--                       howCheckBoxesMode="onClick"-->
        <!--        >-->
        <!--        </dxo-selection>-->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateSub"
                           [customSave]="saveStateSub"></dxo-state-storing>
        <!--        <dxi-column type="selection" [width]="45"></dxi-column>-->

        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>

        <dxi-column dataField="logKey" caption="KEY" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>

        <dxi-column dataField="apiType" [caption]="utilService.convert('infmonitoring_apitype')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="systemType" [caption]="utilService.convert1('infmonitoring_systemType', '시스템타입')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="successYN" [caption]="utilService.convert1('infmonitoring_successYN', '성공여부')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="logDateTime"
                    [caption]="utilService.convert('infmonitoring_logDateTime')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="requestData" [caption]="utilService.convert1('infmonitoring_requestData', '요청데이터')"
        ></dxi-column>

        <dxi-column dataField="resDateTime"
                    [caption]="utilService.convert('infmonitoring_resDateTime')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="responseData"
                    [caption]="utilService.convert1('infmonitoring_responseData', '응답데이터')">
        </dxi-column>


        <!--        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"-->
        <!--                    [allowEditing]="false"-->
        <!--                    alignment="left" [visible]=this.utilService.isShowVisibleColumn>-->
        <!--          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
        <!--        </dxi-column>-->
        <!--        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"-->
        <!--                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>-->
        <!--        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"-->
        <!--                    [allowEditing]="false" alignment="left" [visible]=this.utilService.isShowVisibleColumn>-->
        <!--          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>-->
        <!--        </dxi-column>-->
        <!--        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"-->
        <!--                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>-->
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>
