<div class="qrpage-body">
  <div class="layout-header">
    <div class="top-logo"></div>
  </div>

  <div>
    <div class="qr_content">
      <p>
        출고일자<br>
        {{fromDate}}<br>
        {{toDate}}<br>
      </p>

      <div class="qr_confirm_btn">
        <div class="dx-widget dx-button dx-button-mode-contained dx-button-normal dx-button-has-text dx-dialog-button"
             role="button" aria-label="확인" style="width: 100%; height: 20px;" onClick="alert('ㅎㅎㅎㅎ');">
          <div class="dx-button-content"><span class="dx-button-text">확인</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
