<!-- 영업 > 구매발주확정현황 sabu080 -->
<div class="contents-header">
  <!-- Header Title START -->
  <h2 class="content-block page-title">{{utilService.convert('/sabu/sabu080')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group"></span>
  <!-- Header Title END -->
  <hr/>
</div>

<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [colCountByScreen]="{lg:6, md: 6, sm:3, xs:1}"
               (onEditorEnterKey)="onSearch()">
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>
          <dxi-item itemType="group"
                    [label]="{text: utilService.convert('sales.chk_dt')}" [colSpan]="2">
            <dx-date-box #fromChkDate
                         name="fromChkDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toChkDate
                         name="toChkDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <dxi-item dataField="purCd" [label]="{text: utilService.convert('sales.pur_cd')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: dsCustCd,
                                        displayExpr: 'display',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: true,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText'),
                                          onValueChanged: onValueChangedPurCd
                    }">
          </dxi-item>
          <dxi-item dataField="whCd" [label]="{text: utilService.convert1('sales.sales_wh_cd', '창고', 'Warehouse')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: filteredWhCd,
                                        displayExpr: 'display',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: true,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>
          <dxi-item dataField="wrkStat" [label]="{text: utilService.convert1('sales.wrk_stat', '작업상태', 'Work Status')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{  items: dsWrkStat,
                                        displayExpr: 'nm',
                                        valueExpr: 'cd',
                                        searchMode:'contains',
                                        searchEnabled: true,
                                        showClearButton: true,
                                        openOnFieldClick: true,
                                        minSearchLength: 0,
                                        placeholder: '',
                                        noDataText: utilService.convert('com_txt_noDataText')
                    }">
          </dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()">
        </dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   (onClick)="onSearch()">
        </dx-button>
      </div>
    </div>
  </div>

  <dx-accordion [collapsible]="true"
                [multiple]="false"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('sales.incoming_inspection_list', '입고검사 리스트', 'Incoming Inspection List')">
      <dx-data-grid #mainGrid
                    [dataSource]="dataSource"
                    (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
                    [showRowLines]="true"
                    [rowAlternationEnabled]="true"
                    [columnAutoWidth]="true"
                    [allowColumnResizing]="true"
                    [focusedRowEnabled]="true"
                    (onOptionChanged)="onOptionChanged($event)"
                    columnResizingMode=nextColumn>
        <dxo-editing mode="batch"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true"></dxo-export>

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>

        <dxo-search-panel [visible]="true"
                          [width]="240"
                          [placeholder]="''">
        </dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager [visible]="true"
                   [allowedPageSizes]=gridUtil.getAllowedPageSize()
                   [displayMode]="'full'"
                   [showPageSizeSelector]="true"
                   [showInfo]="true"
                   [showNavigationButtons]="true">
        </dxo-pager>
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" cellTemplate="NoTemplate"
                    alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="inp_no" [caption]="utilService.convert1('sales.inp_no', '입고번호', 'Incoming No')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="chk_dt" dataType="date"
                    editorType="dxDateBox" format="yyyy-MM-dd"
                    [caption]="utilService.convert1('sales.chk_dt', '검사일자', 'Inspection Date')" alignment="center"
                    [editorOptions]="{useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"></dxi-column>
        <dxi-column dataField="pur_cd" [caption]="utilService.convert1('sales.cust_cd', '거래처', 'Account')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="pur_nm"
                    [caption]="utilService.convert1('sales.cust_nm', '거래처명', 'Account Name')"></dxi-column>
        <dxi-column dataField="wh_cd" [caption]="utilService.convert('sales.sales_wh_cd')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="wh_nm"
                    [caption]="utilService.convert('sales.sales_wh_nm')"></dxi-column>
        <dxi-column dataField="wrk_stat" [caption]="utilService.convert1('sales.wrk_stat', '작업상태', 'Work Status')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsWrkStat" displayExpr="nm" valueExpr="cd"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="item_cd" [caption]="utilService.convert1('sales.item', '품목', 'Item')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="item_nm"
                    [caption]="utilService.convert1('sales.item_nm', '품목명', 'Item Name')"></dxi-column>
        <dxi-column dataField="inp_pr" [caption]="utilService.convert1('sales.inp_pr', '입고가', 'Incoming Price')"
                    format="#,##0.####"></dxi-column>
        <dxi-column [caption]="utilService.convert1('sales.incoming_inspection', '입고검사', 'Incoming Inspection')">
          <dxi-column dataField="chk_qty" [caption]="utilService.convert1('sales.qty', '수량', 'Qty')"
                      format="#,##0.####"></dxi-column>
          <dxi-column dataField="chk_amt" [caption]="utilService.convert1('sales.amt', '금액', 'Amt')"
                      format="#,##0.####"></dxi-column>
          <dxi-column dataField="chk_vat_amt" [caption]="utilService.convert1('sales.vat', '부가세', 'VAT')"
                      format="#,##0.####"></dxi-column>
        </dxi-column>
        <dxi-column [caption]="utilService.convert1('sales.incoming', '입고', 'Incoming')">
          <dxi-column dataField="inp_qty" [caption]="utilService.convert1('sales.qty', '수량', 'Qty')"
                      format="#,##0.####"></dxi-column>
          <dxi-column dataField="inp_amt" [caption]="utilService.convert1('sales.amt', '금액', 'Amt')"
                      format="#,##0.####"></dxi-column>
          <dxi-column dataField="inp_vat_amt" [caption]="utilService.convert1('sales.vat', '부가세', 'VAT')"
                      format="#,##0.####"></dxi-column>
        </dxi-column>
        <dxi-column dataField="mony_unit" [caption]="utilService.convert1('sales.mony', '화폐', 'Money')">
          <dxo-lookup [dataSource]="dsMonyUnit" displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="std_rate"
                    [caption]="utilService.convert1('sales.std_rate', '기준환율', 'Base Exchange Rate')"
                    format="#,##0.##"></dxi-column>
        <dxi-column dataField="cont_no" [caption]="utilService.convert1('sales.cont_no', '계약번호', 'Contract No')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="createdby" [caption]="utilService.convert('com_text_createdBy')" [allowEditing]="false"
                    [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createddatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxi-column dataField="modifiedby" [caption]="utilService.convert('com_text_modifiedBy')" [allowEditing]="false"
                    [visible]="false">
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifieddatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]="false"></dxi-column>
        <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
          <dxi-total-item showInColumn="chk_qty" name="chk_qty" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item showInColumn="chk_amt" name="chk_amt" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item showInColumn="chk_vat_amt" name="chk_vat_amt" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item showInColumn="inp_qty" name="inp_qty" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item showInColumn="inp_amt" name="inp_amt" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
          <dxi-total-item showInColumn="inp_vat_amt" name="inp_vat_amt" summaryType="custom" displayFormat="{0}"
                          valueFormat="#,##0.####"></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>
