<!-- 입고 > 입고검수 -->

<div class="contents-header">
  <h2 class="content-block page-title">{{utilService.convert('/rcv/rcvInspect')}}</h2>
  <span class="page-breadcrumb">{{utilService.getPagePath()}}</span>
  <span class="btngroup page-button-group">
  </span>
</div>

<!-- TAB1-->
<div class="contents-body">
  <div class="search_foldable">
    <div class="search-box">
      <dx-form #mainForm
               class="search-form-box"
               [showColonAfterLabel]="false"
               [(formData)]="mainFormData"
               [minColWidth]="300"
               [colCount]="3"
               [colCountByScreen]="{
                      lg:6, md: 6, sm:3, xs:3
                  }"
      >
        <dxi-item itemType="group" [colCount]="6" [colSpan]="6">
          <dxi-item dataField="tenant" [label]="{text: 'Tenant'}" [visible]="false"
                    [editorOptions]="{ value: G_TENANT }"></dxi-item>
          <dxi-item dataField="rcvKey" [label]="{text: utilService.convert1('rcv.rcvKey', '입고번호', 'Receive Key')}"
                    [colSpan]="2"></dxi-item>

          <dxi-item itemType="group"
                    [label]="{text: utilService.convert1('rcv.rcvSchDate', '입고예정일자', 'Schedule Date')}" [colSpan]="2">
            <dx-date-box #fromRcvSchDate
                         name="fromRcvSchDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toRcvSchDate
                         name="toRcvSchDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <dxi-item itemType="group"
                    [label]="{text: utilService.convert1('rcv.receiveDate', '입고실적일자', 'Receive Date')}" [colSpan]="2">
            <dx-date-box #fromReceiveDate
                         name="fromReceiveDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
            <div style="float:left;margin:5px">~</div>
            <dx-date-box #toReceiveDate
                         name="toReceiveDate"
                         type="date"
                         pickerType="calendar"
                         displayFormat="yyyy-MM-dd"
                         dateSerializationFormat="yyyy-MM-dd"
                         [calendarOptions]="{useMaskBehavior:'true'}"
                         width="45%"
                         [elementAttr]="{ style: 'float:left' }"
            >
            </dx-date-box>
          </dxi-item>

          <dxi-item dataField="sts" [label]="{text: utilService.convert1('rcv.sts', '입고상태', 'Receive Status')}"
                    editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{
                                      items: dsRcvStatus,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <dxi-item dataField="rcvTypecd"
                    [label]="{text: utilService.convert1('rcv.rcvTypecd', '입고타입', 'Receive Type')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{
                                      items: dsRcvType,
                                      displayExpr: 'display',
                                      valueExpr: 'code',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <dxi-item dataField="supplierId"
                    [label]="{text: utilService.convert1('rcv.supplierId', '공급처', 'Supplier')}"
                    editorType="dxSelectBox" [colSpan]="2"
                    [editorOptions]="{
                                      items: dsSupplier,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <dxi-item dataField="itemId" [label]="{text: utilService.convert1('rcvDetail.itemId', '품목', 'Item')}"
                    editorType="dxSelectBox" [colSpan]="2" [editorOptions]="{
                                      items: dsFilteredItemId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <dxi-item dataField="acceptKey"
                    [label]="{text: utilService.convert('rcv.acceptKey', '입고접수번호', 'Accept Key')}"
                    [colSpan]="2"></dxi-item>
          <dxi-item itemType="empty" [colSpan]="2"></dxi-item>


          <dxi-item dataField="warehouseId"
                    [label]="{text: utilService.convert1('rcv.warehouseId', '창고', 'warehouse')}"
                    editorType="dxSelectBox" [disabled]="true" [colSpan]="2" [editorOptions]="{
                                      items: dsWarehouse,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
          <dxi-item dataField="ownerId" [label]="{text: utilService.convert1('rcv.ownerId', '화주', 'Owner')}"
                    editorType="dxSelectBox" [colSpan]="2" [disabled]="true" [editorOptions]="{
                                      items: dsOwner,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
        </dxi-item>
      </dx-form>
      <div class="search-btn-group">
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_reset')"
                   class="reset-btn"
                   (onClick)="onReset()"
        ></dx-button>
        <dx-button icon="check"
                   type="default"
                   [text]="utilService.convert('com_btn_search')"
                   class="search-btn"
                   [focusStateEnabled]="false"
                   (onClick)="onSearch()"
        ></dx-button>
      </div>
    </div>
    <div class="foldable-btn">
      <dx-button #foldableBtn type="default"
                 (onClick)="utilService.onFoldable(this.mainForm, this.foldableBtn)"></dx-button>
    </div>
  </div>

  <!--Grid-->
  <dx-accordion #acrdn
                [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300">
    <dxi-item [title]="utilService.convert1('rcvList', '입고 리스트', 'Receive List')">
      <dx-data-grid
        #mainGrid
        [dataSource]="mainDataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [focusedRowEnabled]="true"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.mainGrid)"
        (onFocusedRowChanged)="onFocusedRowChanged($event)"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        (onOptionChanged)="onOptionChanged($event)"
        [height]="256"
        (onExporting)="gridUtil.onPageExportXlsx($event)"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="false"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-selection mode="single" selectAllMode="allPages"></dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [enabled]="true" [pageSize]=gridUtil.getMainGridPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getMainGridAllowedSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateMain"
                           [customSave]="saveStateMain"></dxo-state-storing>
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="rcvKey" [caption]="utilService.convert1('rcv.rcvKey', '입고번호', 'Receive Key')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="sts" [caption]="utilService.convert1('rcv.sts', '입고상태', 'Receive Status')"
                    alignment="center">
          <dxo-lookup [dataSource]=dsRcvStatus displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="acceptKey" [caption]="utilService.convert1('rcv.acceptKey', '입고접수번호', 'Accept Key')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="rcvTypecd" [caption]="utilService.convert1('rcv.rcvTypecd', '입고타입', 'Receive Type')"
                    alignment="center">
          <dxo-lookup [dataSource]=dsRcvType displayExpr="display" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="rcvSchDate"
                    [caption]="utilService.convert1('rcv.rcvSchDate', '입고예정일자', 'Schedule Date')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="receiveDate"
                    [caption]="utilService.convert1('rcv.receiveDate', '입고실적일자', 'Receive Date')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="supplierId" [caption]="utilService.convert1('rcv.supplierId', '공급처', 'Supplier')">
          <dxo-lookup [dataSource]=dsSupplier displayExpr="display" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="rcvSumItemCount"
                    [caption]="utilService.convert1('rcv.rcvSumItemCount', '총품목수', 'Item Count')"
                    format="#,##0.####"></dxi-column>
        <dxi-column dataField="rcvSumQty1"
                    [caption]="utilService.convert1('rcv.rcvSumQty1', '총품목수량', 'Item Total Quantity')"
                    format="#,##0.####"></dxi-column>
        <dxi-column dataField="actFlg" [caption]="utilService.convert1('rcv.actFlg', '사용여부', 'Active Flag')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="remarks"
                    [caption]="utilService.convert1('rcv.remarks', '전표비고', 'Receive Remarks')"></dxi-column>
        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false"
                    alignment="left" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>
        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" alignment="left" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>

        <dxo-summary [calculateCustomSummary]="calculateCustomSummary">
          <dxi-total-item showInColumn="rcvSumItemCount"
                          name="rcvSumItemCount"
                          summaryType="custom"
                          valueFormat="#,##0.####"
                          displayFormat="{0}">
          </dxi-total-item>
          <dxi-total-item showInColumn="rcvSumQty1"
                          name="rcvSumQty1"
                          summaryType="custom"
                          valueFormat="#,##0.####"
                          displayFormat="{0}">
          </dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </dxi-item>

    <dxi-item [title]="utilService.convert1('rcvDetailList', '입고 상세 리스트', 'Receive Detail List')">
      <dx-data-grid
        #subGrid
        [dataSource]="subDataSource"
        (onToolbarPreparing)="gridUtil.onToolbarPreparing($event)"
        [allowColumnResizing]="true"
        [columnAutoWidth]="true"
        [focusedRowEnabled]="true"
        (onFocusedCellChanged)="onFocusedCellChanging($event, this.subGrid)"
        [showRowLines]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        (onExporting)="gridUtil.onPageExportXlsx($event)"
        columnResizingMode=nextColumn
      >
        <dxo-editing mode="batch"
                     [allowUpdating]="false"
                     [selectTextOnEditStart]="true"
        ></dxo-editing>
        <dxo-selection mode="single" selectAllMode="allPages">
        </dxo-selection>    <!-- single, multiple -->
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel
          [visible]="true"
          [width]="240"
          [placeholder]="''"></dxo-search-panel>
        <dxo-paging [pageSize]=gridUtil.getPageSize()></dxo-paging>
        <dxo-pager
          [visible]="true"
          [allowedPageSizes]=gridUtil.getAllowedPageSize()
          [displayMode]="'full'"
          [showPageSizeSelector]="true"
          [showInfo]="true"
          [showNavigationButtons]="true"
        >
        </dxo-pager>
        <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateSub"
                           [customSave]="saveStateSub"></dxo-state-storing>
        <dxi-column dataField="uid" caption="UID" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="rcvId" caption="rcvId" [visible]="false" [allowSearch]="false"
                    [showInColumnChooser]="false" [allowEditing]="false"></dxi-column>
        <dxi-column name="No" [caption]="utilService.convert('com_text_no')" width="50"
                    cellTemplate="NoTemplate" alignment="center"></dxi-column>
        <div *dxTemplate="let data of 'NoTemplate'">
          {{ data.rowIndex + 1}}
        </div>
        <dxi-column dataField="itemAdminId" [visible]="false"
                    [caption]="utilService.convert1('rcvDetail.itemAdminId', '품목관리사', 'Item Admin')">
          <dxo-lookup [dataSource]="dsItemAdmin" displayExpr="display" valueExpr="uid"></dxo-lookup>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="itemId" [caption]="utilService.convert1('rcvDetail.itemId', '품목', 'Item')"
                    [setCellValue]="setItemValue">
          <dxo-lookup [dataSource]="dsItemId" displayExpr="display" valueExpr="uid"></dxo-lookup>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="unit" [caption]="utilService.convert1('rcvDetail.unit3Stylecd', '단위')"
                    [allowEditing]="false" alignment="center">
          <dxo-lookup [dataSource]="dsItemId" displayExpr="unit3Stylecd" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="expectQty1"
                    [caption]="utilService.convert1('rcvDetail.expectQty1', '예정수량', 'Expect Quantity')"
                    dataType="number" format="#,##0.####"
                    [editorOptions]="{format:'#,##0.####', step:0}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="receivedQty1"
                    [caption]="utilService.convert1('rcvDetail.receivedQty1', '실적수량', 'Received Quantity')"
                    format="#,##0.####" [allowEditing]="false"></dxi-column>
        <dxi-column dataField="adjustQty1"
                    [caption]="utilService.convert1('rcvDetail.adjustQty1', '조정수량', 'Adjust Quantity')"
                    format="#,##0.####"
                    [allowEditing]="false"></dxi-column>
        <dxi-column dataField="lot1" [caption]="utilService.convert('rcvDetail.lot1')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot2" [caption]="utilService.convert('rcvDetail.lot2')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot3" [caption]="utilService.convert('rcvDetail.lot3')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot4" [caption]="utilService.convert('rcvDetail.lot4')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot5" [caption]="utilService.convert('rcvDetail.lot5')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot6" [caption]="utilService.convert('rcvDetail.lot6')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot7" [caption]="utilService.convert('rcvDetail.lot7')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot8" [caption]="utilService.convert('rcvDetail.lot8')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot9" [caption]="utilService.convert('rcvDetail.lot9')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="lot10" [caption]="utilService.convert('rcvDetail.lot10')"
                    [visible]="false"></dxi-column>
        <dxi-column dataField="damageFlg"
                    [caption]="utilService.convert1('rcvDetail.damageFlg', '불량여부', 'Damage Flag')"
                    alignment="center">
          <dxo-lookup [dataSource]="dsDamageFlg" displayExpr="codeName" valueExpr="code"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="noShippingFlg"
                    [caption]="utilService.convert1('rcvDetail.noShippingFlg', '출하금지여부', 'No Shipping Flag')"
                    alignment="center" [visible]="false">
        </dxi-column>
        <dxi-column dataField="foreignCargoFlg"
                    [caption]="utilService.convert1('rcvDetail.foreignCargoFlg', '내수/외수구분', 'Foreign Cargo Flag')"
                    alignment="center" [visible]="false">
        </dxi-column>
        <dxi-column dataField="customsReleaseFlg"
                    [caption]="utilService.convert1('rcvDetail.customsReleaseFlg', '통관진행상태', 'Customs Release Flag')"
                    alignment="center" [visible]="false">
        </dxi-column>
        <dxi-column dataField="taxFlg" [caption]="utilService.convert1('rcvDetail.taxFlg', '과세/비과세여부', 'Tax Flag')"
                    alignment="center" [visible]="false">
        </dxi-column>
        <dxi-column dataField="whInDate" dataType="date" format="yyyy-MM-dd"
                    [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                    [caption]="utilService.convert1('rcvDetail.whInDate', '입고일자', 'In Date')"
                    alignment="center"></dxi-column>
        <dxi-column dataField="isSerial" [caption]="utilService.convert('rcvDetail.isSerial')"
                    alignment="center">
        </dxi-column>
        <dxi-column dataField="mngDate" dataType="date" format="yyyy-MM-dd"
                    [editorOptions]="{ useMaskBehavior:'true', displayFormat:'yyyy-MM-dd', dateSerializationFormat: 'yyyy-MM-dd'}"
                    [caption]="utilService.convert1('rcvDetail.mngDate', '관리일자', 'Manage Date')" alignment="center"
                    [visible]="false"></dxi-column>

        <dxi-column dataField="tagQty"
                    [caption]="utilService.convert1('rcvDetail.tagQty', '시리얼수량', 'Receive Tag Quantity')"
                    format="#,##0.####" [allowEditing]="false"></dxi-column>

        <dxi-column type="buttons" [caption]="utilService.convert('rcvDetail.serial')"
                    [allowEditing]="false">
          <dxi-button template="getLinkTemplate"
                      [hint]="utilService.convert1('rcvComplete_insertTag', '태그 업로드', 'Insert tag.')"
                      [visible]="isUploadButtonVisible">
            <div *dxTemplate="let data of 'getLinkTemplate'" style="display:inline">
              <dx-button (click)="onSerialPopupClick($event, data.rowIndex)"
                         style="border: white; height: 16px; width: 100%;">
                <i class="dx-icon-xlsfile" style="position: relative; top: -4px;"></i>
              </dx-button>
            </div>
          </dxi-button>
        </dxi-column>

        <dxi-column dataField="createdBy" [caption]="utilService.convert('com_text_createdBy')"
                    [allowEditing]="false"
                    alignment="left" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="createdDatetime" [caption]="utilService.convert('com_text_createdDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>
        <dxi-column dataField="modifiedBy" [caption]="utilService.convert('com_text_modifiedBy')"
                    [allowEditing]="false" alignment="left" [visible]=this.utilService.isShowVisibleColumn>
          <dxo-lookup [dataSource]=dsUser displayExpr="name" valueExpr="uid"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="modifiedDatetime" [caption]="utilService.convert('com_text_modifiedDatetime')"
                    [allowEditing]="false" [visible]=this.utilService.isShowVisibleColumn></dxi-column>
      </dx-data-grid>
    </dxi-item>
  </dx-accordion>
</div>


<!-- 엑셀 업로드 팝업 -->
<dx-popup
  #serialPopup
  [title]="utilService.convert1('rcvDetail.serial', '시리얼', 'Serial')"
  [closeOnOutsideClick]="false"
  [dragEnabled]="true"
  [width]="760"
  [(visible)]="serialPopupVisible"
  (onShown)="onSerialPopupShown($event)"
  (onHidden)="onSerialPopupClosed($event)"
>
  <dxi-toolbar-item widget="dxButton"
                    location="after"
                    toolbar="bottom"
                    [options]="{
                      text: utilService.convert('com_btn_deleteAll'),
                      type: 'danger',
                      onClick: onSerialDeleteClick
                    }"></dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    location="after"
                    toolbar="bottom"
                    [options]="{
                      text: utilService.convert('com_btn_upload'),
                      type: 'success',
                      onClick: onSerialUploadClick
                    }"></dxi-toolbar-item>
  <dxi-toolbar-item widget="dxButton"
                    location="after"
                    toolbar="bottom"
                    [options]="{
                      text: utilService.convert('com_btn_close'),
                      onClick: onSerialCancelClick
                    }"></dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form #serialForm
             [(formData)]="serialFormData"
             [showColonAfterLabel]="false"
             [colCountByScreen]="{
                  lg:4, md: 4, sm:2, xs:2
               }"
    >
      <dxi-item [caption]="utilService.convert1('rcvComplete_itemInfo', '품목 정보')" itemType="group" [colCount]="4"
                [colSpan]="4">
        <dxi-item dataField="itemId" [label]="{text: utilService.convert('rcv.itemId')}"
                  editorType="dxSelectBox" [colSpan]="2" [disabled]="true"
                  [editorOptions]="{
                                      items: dsFilteredItemId,
                                      displayExpr: 'display',
                                      valueExpr: 'uid',
                                      searchMode:'contains',
                                      searchEnabled: true,
                                      showClearButton: true,
                                      openOnFieldClick: false,
                                      minSearchLength: 0,
                                      placeholder: '',
                                      noDataText: utilService.convert('com_txt_noDataText')
                                      }"></dxi-item>
        <dxi-item dataField="expectQty1" [disabled]="true"
                  [label]="{text: utilService.convert1('rcvDetail.expectQty1', '예정수량', 'Expect Quantity')}"
                  editorType="dxNumberBox" [editorOptions]="{format:'#,##0.####', step: 0}" [colSpan]="2">
        </dxi-item>
      </dxi-item>

      <dxi-item [caption]="utilService.convert1('rcvComplete_FileUpload', '시리얼 업로드')" itemType="group"
                [colCount]="4"
                [colSpan]="4">
        <div class="flex-container">
          <dx-file-uploader #fileUploader
                            [selectButtonText]="utilService.convert1('fileUploadButtonText', '파일 첨부')"
                            labelText=""
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            uploadMode="useForm"
                            [allowCanceling]="true"
          ></dx-file-uploader>
          <dx-button type="default" [useSubmitBehavior]="true"
                     [text]="utilService.convert1('SubmitFile', '파일 적용')"
                     (onClick)="onSerialFileUploader(fileUploader)"></dx-button>
          <dx-button type="default" [text]="utilService.convert('com_btn_reset')"
                     (onClick)="onResetFileUploader(fileUploader)"></dx-button>
        </div>
      </dxi-item>
      <dxi-item [caption]="utilService.convert1('rcvSerialList', '입고시리얼 목록')" itemType="group" [colCount]="4"
                [colSpan]="4">
        <dx-data-grid
          #tagGrid
          [dataSource]="serialDataSource"
          (onToolbarPreparing)="onToolbarPreparingWithExtra($event)"
          (onFocusedCellChanged)="onFocusedCellChanging($event, this.tagGrid)"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [focusedRowEnabled]="true"
          [showBorders]="true"
          [allowColumnResizing]="true"
          [allowColumnReordering]="true"
          [columnAutoWidth]="true"
          [height]="315"
          (onExporting)="gridUtil.onPageExportXlsx($event)"
          columnResizingMode=nextColumn
        >
          <dxo-editing mode="batch"></dxo-editing>
          <dxo-selection mode="single"></dxo-selection>    <!-- single, multiple -->
          <dxo-load-panel [enabled]="true"></dxo-load-panel>
          <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
          <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            [placeholder]="''"></dxo-search-panel>
          <dxo-paging [enabled]="true" [pageSize]=gridUtil.getPageSize()></dxo-paging>
          <dxo-pager
            [visible]="true"
            [allowedPageSizes]=gridUtil.getAllowedPageSize()
            [displayMode]="'full'"
            [showPageSizeSelector]="true"
            [showInfo]="true"
            [showNavigationButtons]="true"
          >
          </dxo-pager>
          <dxo-state-storing [enabled]="true" type="custom" [customLoad]="loadStateTag"
                             [customSave]="saveStateTag"></dxo-state-storing>

          <dxi-column dataField="tenant" caption="tenant" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false"
                      [allowEditing]="false"></dxi-column>
          <dxi-column dataField="rcvId" caption="rcvId" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false"
                      [allowEditing]="false"></dxi-column>
          <dxi-column dataField="rcvDetailId" caption="rcvDetailId" [visible]="false" [allowSearch]="false"
                      [showInColumnChooser]="false"
                      [allowEditing]="false"></dxi-column>

          <dxi-column name="No" [caption]="utilService.convert('com_text_no')"
                      cellTemplate="NoTemplate" alignment="center"></dxi-column>
          <div *dxTemplate="let data of 'NoTemplate'">
            {{ data.rowIndex + 1}}
          </div>
          <dxi-column dataField="serial"
                      [caption]="utilService.convert1('rcvSerial.serial', 'Tag')"></dxi-column>
        </dx-data-grid>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>
